.endgame-card-container {
  background-color: #f9f9f9;
  color: #000;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transition for zoom effect */
}

.endgame-card-container:hover {
  transform: scale(1.018); /* Zoom in */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Enhanced shadow */
}

.endgame-card-container img {
  width: 100%;
  height: auto;
  border-radius: 5px;
  margin-top: 10px;
}

.endgame-card-container .name {
  margin: 10px 0 5px;
}

.endgame-card-container .footer {
  margin: 10px 0;
}
