html, body {
  height: 100%;
  margin: 0;
  font-family: Open Sans, sans-serif;
  background: radial-gradient(circle, #1a73e8 15%, #00224E 85%);
}




.App {
  display: flex;
  min-height: 100vh;
  flex-direction: column; /* Ensure it stacks vertically */
}

/* App.css */
.content {
  margin-left: 200px; /* This should match the width of your sidebar */
  padding: 20px;
}


/* Rest of your existing CSS */


